#bMP,#bGP{
    display: inline;
    font-style: italic;
    justify-content: 'center';
    align-items: 'center';
   width:200px;
    margin-left:0px;
    margin-top:0px;
    height: 30px;
    border-radius: 6px;
    border: 3px solid cyan;
    text-align: center;
    font-size:18px;
    background-color: lightseagreen;
    font-family: 'Consolas';
}
#bNP:hover,#bMP:hover,#bGP:hover{
    background-color: cyan;
}
#bNP{
    display: block;
    font-style: italic;
    justify-content: 'center';
    align-items: 'center';
   width:400px;
    margin:0px;
    margin-top:10px;
    height: 30px;
    border-radius: 6px;
    border: 3px solid cyan;
    text-align: center;
    font-size:18px;
    background-color: lightseagreen;
    font-family: 'Consolas'; 
}
#treiButoaneDiv{
    display: inline-block;
    margin: 0px auto;
}
body{
    margin:0px;
    text-align:center;
   background-color:rgb(161, 240, 236);
}