

#mainDivUpdateProject{
    border: 2px solid #0c4643;
    stroke-dasharray: 3,3;
    
    background-color:#188781;
    width: 400px;
    display: inline-block;
    margin: 0px auto;
    margin-top:30px;
}
#bAddLivrabil{
    font-style: italic;
    justify-content: 'center';
    align-items: 'center';
    width:165px;
    margin:10px;
    margin-top:30px;
    margin-left:0px;
    height: 30px;
    border-radius: 6px;
    border: 3px solid cyan;
    text-align: center;
    font-size:18px;
    background-color: lightseagreen;
    font-family: 'Consolas';
}